@media screen {
  /* Welcome to Compass.
   * In this file you should write your main styles. (or centralize your imports)
   * Import this file using the following HTML or equivalent:
   * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
  /* line 17, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  /* line 22, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  html {
    line-height: 1;
  }

  /* line 24, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  ol, ul {
    list-style: none;
  }

  /* line 26, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* line 28, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
  }

  /* line 30, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q, blockquote {
    quotes: none;
  }
  /* line 103, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
  }

  /* line 32, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  a img {
    border: none;
  }

  /* line 116, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
  }

  /* @group ----- Generic HTML Elements ----- */
  /* line 14, sass/_screen.scss */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 18, sass/_screen.scss */
  body {
    background: url("../images/bg_small.jpg") no-repeat top center fixed;
    background-size: cover;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #4d4d4d;
  }

  /* line 27, sass/_screen.scss */
  a {
    text-decoration: none;
    color: #8e8264;
  }
  /* line 31, sass/_screen.scss */
  a:hover, a:active {
    color: #bba46a;
  }

  /* line 36, sass/_screen.scss */
  em, i {
    font-style: italic;
  }

  /* line 40, sass/_screen.scss */
  strong, b {
    font-weight: bold;
  }

  /* line 44, sass/_screen.scss */
  p, ol, ul, dl {
    margin-bottom: 1.5em;
  }

  /* line 47, sass/_screen.scss */
  ol {
    padding-left: 2em;
  }

  /* line 51, sass/_screen.scss */
  ul {
    padding-left: 1.25em;
  }
  /* line 54, sass/_screen.scss */
  ul li {
    list-style-type: disc;
  }

  /* line 59, sass/_screen.scss */
  h1 {
    font-family: "PT Serif", serif;
    font-size: 28px;
    line-height: 42px;
    color: #213881;
    margin-bottom: 0.75em;
  }

  /* line 67, sass/_screen.scss */
  h2 {
    font-size: 24.5px;
    line-height: 42px;
    margin-bottom: 1em;
    font-weight: bold;
    font-family: "PT Serif", serif;
  }

  /* line 75, sass/_screen.scss */
  h3 {
    font-size: 17.5px;
    line-height: 21px;
    margin-bottom: 1em;
    font-weight: bold;
  }

  /* line 82, sass/_screen.scss */
  h4 {
    font-family: "PT Serif", serif;
    margin-bottom: 1em;
    font-weight: bold;
  }

  /* line 87, sass/_screen.scss */
  section {
    display: block;
    padding: .5em 0 1em;
  }

  /* line 91, sass/_screen.scss */
  table {
    width: 100%;
    margin: 3em 0;
    border-collapse: collapse;
    border-spacing: 0px;
  }

  /* line 98, sass/_screen.scss */
  th, td {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  /* line 104, sass/_screen.scss */
  th {
    text-align: left;
    color: #213881;
    font-weight: bold;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  /* line 113, sass/_screen.scss */
  input[type=text],
  input[type=password],
  textarea {
    border-color: rgba(0, 0, 0, 0.2);
    padding: 0.375em 10px;
    border-style: solid;
    border-width: 0.07143em;
    padding: 0.30357em;
    font-size: 14px;
    line-height: 21px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
  }

  /* line 125, sass/_screen.scss */
  input[type=submit],
  button,
  .button {
    background-color: #8e8264;
    padding: 0.375em 10px;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    border: 0;
    margin: 0;
  }

  /* @end */
  /* @group ----- Reusable classes ----- */
  /* line 139, sass/_screen.scss */
  .field {
    margin-bottom: 1.5em;
  }

  /* line 143, sass/_screen.scss */
  .item-img * {
    display: block;
    vertical-align: top;
    margin-bottom: 1.5em;
  }

  /* @end */
  /* @group ----- Structure ----- */
  /* line 153, sass/_screen.scss */
  #wrap {
    *zoom: 1;
    max-width: 65em;
    _width: 65em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(255, 255, 255, 0.5);
  }
  /* line 38, ../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #wrap:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 161, sass/_screen.scss */
  #content {
    position: relative;
  }

  /* @end */
  /* @group ----- Navigation ----- */
  /* line 169, sass/_screen.scss */
  nav ul {
    padding-left: 0;
  }
  /* line 172, sass/_screen.scss */
  nav ul li {
    display: inline-block;
  }
  /* line 176, sass/_screen.scss */
  nav ul li ul {
    display: none;
  }

  /* line 182, sass/_screen.scss */
  .secondary-nav li {
    margin-right: 10px;
  }

  /* line 186, sass/_screen.scss */
  .pagination-nav {
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 2em;
  }

  /* line 193, sass/_screen.scss */
  .pagination {
    /*position: relative;*/
    padding-left: 0;
    width: 100%;
    float: left;
    /*    &:first-of-type:after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(0,0,0,.15);
            position: absolute;
            bottom: rhythm(-1);
            left: 0;
        }*/
  }
  /* line 199, sass/_screen.scss */
  .pagination:first-of-type {
    margin-bottom: 1.5em;
  }
  /* line 214, sass/_screen.scss */
  .pagination > *:last-child {
    margin-right: 0;
  }
  /* line 218, sass/_screen.scss */
  .pagination .page-input {
    padding: 0.375em 10px 0.1875em;
  }
  /* line 222, sass/_screen.scss */
  .pagination input[type=text] {
    background: transparent;
    border: 0;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    padding: 0;
    border-bottom-style: dotted;
    border-bottom-width: 0.07143em;
    padding-bottom: -0.07143em;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-family: "Helvetica", "Arial", sans-serif;
    width: 3em;
    margin: 0;
  }
  /* line 236, sass/_screen.scss */
  .pagination li {
    display: block;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    float: left;
  }
  /* line 243, sass/_screen.scss */
  .pagination .pagination_next,
  .pagination .pagination_previous {
    background-color: #8e8264;
  }
  /* line 246, sass/_screen.scss */
  .pagination .pagination_next a,
  .pagination .pagination_previous a {
    display: inline-block;
    padding: 0.375em 10px;
    color: #fff;
  }
  /* line 253, sass/_screen.scss */
  .pagination + *:not(#sort-links) {
    clear: both;
  }
  /* line 257, sass/_screen.scss */
  .pagination:last-of-type + * {
    clear: both;
  }

  /* line 262, sass/_screen.scss */
  #sort-links {
    float: right;
    margin-top: -5.75em;
  }
  /* line 268, sass/_screen.scss */
  #sort-links span {
    padding: 0.6em 7px 0.6em 10px;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  /* line 274, sass/_screen.scss */
  #sort-links ul, #sort-links li, #sort-links a {
    display: inline-block;
  }
  /* line 278, sass/_screen.scss */
  #sort-links ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  /* line 282, sass/_screen.scss */
  #sort-links li {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  }
  /* line 285, sass/_screen.scss */
  #sort-links a {
    background-color: #8e8264;
    color: #fff;
    padding: 0.375em 10px;
  }
  /* line 291, sass/_screen.scss */
  #sort-links + * {
    clear: both;
  }

  /* @end */
  /* @group ----- Header ----- */
  /* line 299, sass/_screen.scss */
  header {
    position: relative;
  }

  /* line 303, sass/_screen.scss */
  #top-nav {
    font-family: "PT Serif", serif;
    text-align: center;
    text-transform: uppercase;
    border-color: #cfcabc;
    border-top-style: solid;
    border-top-width: 0.07143em;
    padding-top: 0.67857em;
    border-bottom-style: solid;
    border-bottom-width: 0.07143em;
    padding-bottom: 0.67857em;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
  }
  /* line 313, sass/_screen.scss */
  #top-nav ul {
    margin-bottom: 0;
  }
  /* line 317, sass/_screen.scss */
  #top-nav li ul {
    display: none;
  }
  /* line 321, sass/_screen.scss */
  #top-nav li {
    margin: 0 10px;
  }

  /* line 326, sass/_screen.scss */
  #site-title {
    margin-bottom: 1.5em;
    text-align: center;
  }
  /* line 330, sass/_screen.scss */
  #site-title * {
    vertical-align: top;
  }
  /* line 334, sass/_screen.scss */
  #site-title a {
    display: inline-block;
  }
  /* line 338, sass/_screen.scss */
  #site-title img {
    max-width: 100%;
    height: auto;
  }

  /* line 344, sass/_screen.scss */
  #search-form {
    width: 100%;
    margin-bottom: 1.5em;
    float: left;
  }
  /* line 349, sass/_screen.scss */
  #search-form input[type=text] {
    width: 70%;
    float: left;
    height: 31px;
  }
  /* line 356, sass/_screen.scss */
  #search-form input[type=submit], #search-form button[type=submit] {
    width: 30%;
    float: left;
  }

  /* @end */
  /* @group ----- Footer ----- */
  /* line 366, sass/_screen.scss */
  footer {
    clear: both;
    border-color: #cfcabc;
    border-top-style: solid;
    border-top-width: 0.07143em;
    padding-top: 0.67857em;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
  }
  /* line 373, sass/_screen.scss */
  footer nav li {
    margin-right: 10px;
  }

  /* line 377, sass/_screen.scss */
  #footer-text {
    font-size: .8em;
  }
  /* line 379, sass/_screen.scss */
  #footer-text p {
    margin-bottom: .5em;
  }

  /* @end */
  /* @group ----- Home ----- */
  /* #home #search-form {
      display: none;
  } */
  /* @end */
  /* @group ----- Items ----- */
  /* line 397, sass/_screen.scss */
  .items .item {
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-style: solid;
    border-bottom-width: 0.07143em;
    padding-bottom: -0.07143em;
    margin-bottom: 1.5em;
  }
  /* line 403, sass/_screen.scss */
  .items .item-meta {
    padding-bottom: 1em;
  }
  /* line 406, sass/_screen.scss */
  .items .element-set {
    margin-bottom: 3em;
  }
  /* line 410, sass/_screen.scss */
  .items .element {
    margin-bottom: 1.5em;
  }

  /* line 415, sass/_screen.scss */
  .search-entry {
    margin-bottom: 1.5em;
  }

  /* line 419, sass/_screen.scss */
  #advanced-search-form {
    margin-bottom: 3em;
  }

  /* @end */
  /* @group ----- Collections ----- */
  /* line 428, sass/_screen.scss */
  .collections .collection {
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-style: solid;
    border-bottom-width: 0.07143em;
    padding-bottom: -0.07143em;
    margin-bottom: 1.5em;
  }

  /* @group ------ Simple Pages ------ */
  /* Removing breadcrumbs and h1 from pages as index.html */
  /* line 438, sass/_screen.scss */
  #home #simple-pages-breadcrumbs {
    display: none;
  }

  /* line 441, sass/_screen.scss */
  #home h1 {
    display: none;
  }

  /* line 444, sass/_screen.scss */
  #home .secondary {
    background-color: rgba(142, 130, 100, 0.2);
    padding: 1em;
    margin-bottom: 1.5em;
  }
  /* line 449, sass/_screen.scss */
  #home .secondary p:last-of-type {
    margin-bottom: 0;
  }

  /* line 453, sass/_screen.scss */
  #home .collection {
    display: inline-block;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 0.07143em solid rgba(0, 0, 0, 0.2);
  }
  /* line 458, sass/_screen.scss */
  #home .collection:last-of-type {
    border-bottom: none;
  }
  /* line 462, sass/_screen.scss */
  #home .collection img {
    float: left;
    padding-right: 1em;
  }
  /* line 466, sass/_screen.scss */
  #home .collection .collection-description {
    width: 70%;
    float: left;
  }

  /* line 471, sass/_screen.scss */
  .gallery {
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }
  /* line 476, sass/_screen.scss */
  .gallery img {
    width: 20%;
    float: left;
    background-color: #fff;
  }
  /* line 481, sass/_screen.scss */
  .gallery p {
    width: 80%;
    float: left;
    padding-left: 20px;
  }

  /* line 488, sass/_screen.scss */
  #faqs #primary ul {
    margin: 0;
    padding-left: 1em;
  }
  /* line 491, sass/_screen.scss */
  #faqs #primary ul li {
    list-style-type: none;
    padding-bottom: 5px;
  }

  /* @group ------ Carousel ----- */
  /* line 498, sass/_screen.scss */
  .jcarousel img {
    margin: 0 auto;
  }

  /* @group ------ Contribution Plugin ----- */
  /* line 503, sass/_screen.scss */
  .contribution #primary {
    display: block;
    margin-bottom: 1em;
  }

  /* line 508, sass/_screen.scss */
  #contribution-type-form {
    margin-top: 1em;
  }
  /* line 510, sass/_screen.scss */
  #contribution-type-form two.columns.alpha {
    font-family: "PT Serif", serif;
    margin-bottom: 1em;
    font-weight: bold;
  }

  /* @end */
}
@media screen and (max-width: 500px) {
  /* line 6, sass/_mobile.scss */
  .pagination-nav {
    border-bottom: none;
    margin-bottom: initial;
  }

  /* line 10, sass/_mobile.scss */
  #sort-links {
    width: 100%;
    float: left;
    margin-top: 0;
    margin-bottom: 3em;
    background-color: transparent;
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  /* line 18, sass/_mobile.scss */
  #sort-links .sort-label {
    background-color: #fff;
    padding: 0.525em 7px 0.525em 10px;
  }
}
@media print {
  /* Welcome to Compass. Use this file to define print styles.
   * Import this file using the following HTML or equivalent:
   * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
}
