// Grid 

$total-columns:   12;
$column-width:    4.5em;
$gutter-width:    1em;
$grid-padding:    2em;


//Colors

$gold:            #8E8264;
$blue:            #213881;
$gray:            rgba(0,0,0,.2);

$color__background-button:	#8E8264;
$color__border-button:	#ccc #ccc #bbb;
$color__border-main: 	#cfcabc;
$color__border-button-hover:	#ccc #bbb #aaa;
$color__border-button-focus:	#aaa #bbb #bbb;
$color__border-input:	#ccc;
$color__text-input:	#4d4d4d;

// Typography

$base-font-size: 14px;
$base-line-height: 23px;

$font_header: "PT Serif", serif;
$font_main: "Helvetica", "Arial", sans-serif;

// Mixins

@mixin shadow {
     box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}