@import "base";
@import "compass/css3";
@import "compass/typography";
@import "susy";
/*
#wrap {
    background-color: rgba(255,255,255,.5);
}*/

input[type=textarea] {
    max-width: 350px;
}
.pagination-nav {
	border-bottom: none;
	margin-bottom:initial;
}
#sort-links {
    width:100%;
    float:left;
    margin-top:0;
    margin-bottom: 3em; 
    background-color: transparent;
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgba(0,0,0,.15);
    .sort-label {
        background-color: #fff;
        padding: rhythm(.35) 7px rhythm(.35) 10px;
    }
}
#home .text, #home .secondary {
    padding: 1em .5em;
    font-size:14px;
    line-height:24px;
}
#home .collection .collection-description {
    width:100%;
    float:left;
}

#collection-tree {
    ul li a {
        width:47%;
    }
}
#contribution-type-form .contribution-userprofile {
    .two.columns.alpha {
        width:100%;
        float:left;
    }
    .five.columns.omega {
        float:left;
        margin:10px 0 0;
    }
}