/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "susy";

/* @group ----- Generic HTML Elements ----- */

* {
    @include box-sizing(border-box);
}

body {
    background: url('../images/bg_small.jpg') no-repeat top center fixed;
    background-size: cover;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: #4d4d4d;
}

a {
    text-decoration: none;
    color: $gold;
    
    &:hover, &:active {
        color: lighten(saturate($gold, 20%), 10%);
    }
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

p, ol, ul, dl {
    @include trailer();
}
ol {
    padding-left: 2em;
}

ul {
    padding-left: 1.25em;
    
    li {
        list-style-type: disc;
    }
}

h1 {
    font-family: "PT Serif", serif;
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
    color: $blue;
    @include trailer(1, 2 * $base-font-size);
}

h2 {
    font-size: 1.75 * $base-font-size;
    line-height: 2 * $base-line-height;
    @include trailer(1, 1.5 * $base-font-size);
    font-weight: bold;
    font-family: "PT Serif", serif;
}

h3 {
    font-size: 1.25 * $base-font-size;
    line-height: $base-line-height;
    @include trailer(1, 1.5 * $base-font-size);
    font-weight: bold;
}

h4 {
    font-family: "PT Serif", serif;
    @include trailer(1, 1.5 * $base-font-size);
    font-weight: bold;
}
section {
    display:block;
    padding:.5em 0 1em;
}
table {
    width: 100%;
    margin: rhythm(2) 0;
    border-collapse: collapse;
    border-spacing: 0px;
}

th,td {
    margin:0;
    padding: 10px 0;
    border-bottom: 1px solid $gray;
}

th {
    text-align:left;
    color: $blue;
    font-weight:bold;
    border-bottom: 2px solid $gray;
}

input[type=text],
input[type=password],
textarea {
    border-color: $gray;
    padding: rhythm(.25) 10px;
    @include rhythm-borders(1px, .25, $base-font-size, solid);
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
}

input[type=submit],
button,
.button {
    background-color: $gold;
    padding: rhythm(.25) 10px;
    color: #fff;
    font-size: $base-font-size;
    line-height: $base-line-height;
    border: 0;
    margin: 0;
}

/* @end */

/* @group ----- Reusable classes ----- */

.field {
    @include trailer();
}

.item-img * {
    display: block;
    vertical-align: top;
    @include trailer();
}

/* @end */

/* @group ----- Structure ----- */

#wrap {
    @include container;
    @include padding-leader(2);
    @include padding-trailer(2);
    background-color: rgba(255,255,255,.5);
//    @include box-shadow(0 0 30px $gray);
}

#content {
    position: relative;
}

/* @end */

/* @group ----- Navigation ----- */

nav ul {
    padding-left: 0;

    li {
        display: inline-block;
    }
    
    li ul {
        display: none;
    }
}

.secondary-nav {
    li {
        margin-right: 10px;
    }
}
.pagination-nav {
    width:100%;
    float:left;
    border-bottom:1px solid rgba(0,0,0,.15);
    margin-bottom:2em;
}

.pagination {
    /*position: relative;*/
    padding-left: 0;
    width: 100%;
    float: left;
    
    &:first-of-type {
        @include trailer(1);
    }

/*    &:first-of-type:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,.15);
        position: absolute;
        bottom: rhythm(-1);
        left: 0;
    }*/
    
    & > *:last-child {
        margin-right: 0;
    }
    
    .page-input {
        padding: rhythm(.25) 10px rhythm(.125);
    }

    input[type=text] {
        background: transparent;
        border: 0;
        border-bottom-color: rgba(0,0,0,.3);
        padding: 0;
        @include trailing-border(1px, 0, $base-font-size, dotted);
        text-align: center;
        font-size: $base-font-size;
        line-height: $base-line-height;
        font-family: "Helvetica", "Arial", sans-serif;
        width: 3em;
        margin: 0;
    }
    
    li {
        display: block;
        @include box-shadow(0px 1px 1px rgba(0,0,0,.15));
        float: left;
    }
    
    .pagination_next,
    .pagination_previous {
        background-color: $gold;
        
        a {
            display: inline-block;
            padding: rhythm(.25) 10px;
            color: #fff;
        }
    }
    
    & + *:not(#sort-links) {
        clear: both;
    }
    
    &:last-of-type + * {
        clear: both;
    }
}

#sort-links {
    
    float: right;
    margin-top: -5.75em;


    span {
        padding: rhythm(.4) 7px rhythm(.4) 10px;
        @include box-shadow(0px 1px 1px rgba(0,0,0,.15));
        background-color: #fff;
    }

    ul, li, a {
        display: inline-block;
    }

    ul {
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        @include box-shadow(0px 1px 1px rgba(0,0,0,.15));
    }
    a {
        background-color: $gold;
        color: #fff;
        padding: rhythm(.25) 10px;
    }
    
    & + * {
        clear: both;
    }
}
/* @end */

/* @group ----- Header ----- */

header {
    position: relative;
}

#top-nav {
    font-family: "PT Serif", serif;
    text-align: center;
    text-transform: uppercase;
    border-color: lighten($gold, 30%);
    @include leading-border(1px, .5, $base-font-size, solid);
    @include trailing-border(1px, .5, $base-font-size, solid);
    @include trailer();
    letter-spacing: 1px;
    
    ul {
        margin-bottom: 0;
    }

    li ul {
        display: none;
    }
    
    li {
        margin: 0 10px;
    }
}

#site-title {
    @include trailer();
    text-align: center;

    * {
        vertical-align: top;
    }

    a {
        display: inline-block;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
}

#search-form {
    width: 100%;
    @include trailer();
    float: left;
    
    input[type=text] {
        width: 70%;
        float: left;
        height: 31px;

    }
    
    input[type=submit], button[type=submit] {
        width: 30%;
        float: left;
    }
}

/* @end */

/* @group ----- Footer ----- */

footer {
    clear: both;
    border-color: lighten($gold, 30%);
    @include leading-border(1px, .5, $base-font-size, solid);
    @include trailer();
    letter-spacing: 1px;
    
    nav li {
        margin-right: 10px;
    }
}
#footer-text {
    font-size:.8em;
    p {
        margin-bottom:.5em;
    }
}

/* @end */

/* @group ----- Home ----- */

/* #home #search-form {
    display: none;
} */

/* @end */

/* @group ----- Items ----- */

.items {
    .item {
        border-color: $gray;
        @include trailing-border(1px, 0, $base-font-size, solid);
        @include trailer();
    }
    
    .item-meta {
        padding-bottom:1em;
    }
    .element-set {
        @include trailer(2);
    }
    
    .element {
        @include trailer();
    }
}

.search-entry {
    @include trailer();
}

#advanced-search-form {
    @include trailer(2);
}

/* @end */

/* @group ----- Collections ----- */

.collections {
    .collection {
        border-color: $gray;
        @include trailing-border(1px, 0, $base-font-size, solid);
        @include trailer();
    }
}

/* @group ------ Simple Pages ------ */

/* Removing breadcrumbs and h1 from pages as index.html */
#home #simple-pages-breadcrumbs {
    display:none;
}
#home h1 {
    display:none;
}
#home {
    .text {
        width:100%;
        float:left;
        padding:1em 2em 0;
        line-height: 25px;
        font-size:15px;
        line-height: 25px;
    }
    .secondary {
        background-color:rgba(142,130,100,.2);
        padding:1em 2em;
        margin-bottom:1.5em;
        width:100%;
        float:left;
        font-size: 15px;

        p:last-of-type{
            margin-bottom:0;
        }
    }
}
#home .collection {
    display:inline-block;
    margin-bottom:1em;
    padding-bottom:.5em;
    border-bottom:0.07143em solid rgba(0, 0, 0, 0.2);
    &:last-of-type {
        border-bottom:none;
    }

    img {
        float:left;
        padding:0 1em 1em 0;
    }
    .collection-description{
        width:70%;
        float:left;
    }
}
.gallery {
    width: 100%;
    float:left;
    margin-bottom:15px;

    img {
        width:20%;
        float:left;
        background-color: #fff;
    }
    p {
        width:80%;
        float:left;
        padding-left:20px;
    }
}

#faqs #primary ul {
    margin:0;
    padding-left:1em;
    li {
        list-style-type: none;
        padding-bottom:5px;
    }
}
/* @group ------ Carousel ----- */

.jcarousel img {
    margin:0 auto;
}
/* @group ------ Collection-Tree ----- */

#collection-tree {
    ul{
        margin:0;
        padding:0;
    }
    li {
        list-style-type: none;
        @extend h3;
    }
    ul ul {
        padding-left:2em;
        
    }
    ul ul li {
        list-style-type: disc;
        @extend h4;
    }
    ul ul ul {
        display:none;
    }
}

/* @group ------ Contribution Plugin ----- */
.contribution #primary {
    display: block;
    margin-bottom: 1em;
}

#contribution-type-form {
    margin-top:1em;
    two.columns.alpha {
        font-family: "PT Serif", serif;
        @include trailer(1, 1.5 * $base-font-size);
        font-weight: bold;
    }
}
/* @end */